{% extends "base_generic.html" %}

{% load static %}  <!-- Load the static tag library -->

{% block content %}

    <section class="mt-5">
        <div class="container ps-5">
            <h2 class="pt-5">ENROLL</h2>

            <div class="details pt-2">

                <h6 class="d-inline pe-1">Are you enrolling individual or a family?</h6>
                <form method="post" action="" id="myForm">
                    {% csrf_token %}
                    {#                    <label for="selection">Select an option:</label>#}
                    <select name="selection" id="selection" class="form-select w-25 mt-2 selectDropdown">
                        <option value="individual">Individual</option>
                        <option value="family">Family</option>
                    </select>

                </form>


            </div>



                <div class="col-12 d-flex justify-content-end">
                    <button type="submit" id="submitBtn" class="btn navbtn mt-5 p-2 px-5">
                        <i class="bi bi-chevron-right"></i>Next
                    </button>
                </div>



        </div>
    </section>
    <script>
        document.getElementById('submitBtn').addEventListener('click', function () {
            document.getElementById('myForm').submit();
        });
    </script>





{% endblock %}