{% extends "base_generic.html" %}

{% load static %}  <!-- Load the static tag library -->

{% block content %}

<section class="mt-5">
    <div class="container ps-5">
        <h2 class="pt-5">{{charity.name}}</h2>

        <div class="details pt-2">
            <div class="py-3">
                <h6 class="d-inline pe-1">Description:</h6>
                <p class="d-inline fw-lighter">{{ charity.description }}</p>
            </div>
            <div class="py-3">
                <h6 class="d-inline pe-1">Telephone number:</h6>
                <p class="d-inline fw-lighter">{{ charity.telephone }}</p>
            </div>
            <div class="py-3">
                <h6 class="d-inline pe-1">Mail:</h6>
                <p class="d-inline fw-lighter">{{ charity.mail }}</p>
            </div>
            <div class="py-3">
                <h6 class="d-inline pe-1">Location:</h6>
                <p class="d-inline fw-lighter">{{ charity.location }}</p>
            </div>
        </div>

        <a href="{% url 'charityOrganization'%}"> <button type="button" class="btn navbtn mt-5 p-2 px-5">
            <i class="bi bi-chevron-left"></i>Back</button></a>

    </div>
</section>

{% endblock %}