{% extends "base_generic.html" %}

{% load static %}  <!-- Load the static tag library -->

{% block content %}

<style>
    p{
        color: #000;
        font-family: Pangolin;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 114.286% */
    }
</style>

<section class="mt-5">
    <div class="container ps-5">
        <p class="py-4">Get notified for all the upcoming events so you won’t miss any of them!! <br>
            Fill out how would you want to be notified, either email, phone or both  :)</p>
        <div class="row py-4">
            <div class="col-7">
                <input type="text" class="form-control p-3 mb-3" placeholder="Email">
                <input type="text" class="form-control p-3" placeholder="Telephone number">
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-auto ms-auto">
                <button class="btn navbtn px-4 py-2">Notify me</button>
            </div>
        </div>
    </div>
</section>


{% endblock %}